/* This is a simple CSS file for styling the HTML elements */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: #ff6a6a;
}

p {
  color: #1760c5;
}

.comment {
  color: #0c7f01;
}